{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Smart Eye</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'css/templatemo-training-studio.css' %}">

    <link rel="icon" href="{% static 'images/favicon.png' %}">
  </head>
    
  <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->

                        <a href="{% url 'homePage' %}" class="logo">Smart<em> EyE</em></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#our-classes">About Model</a></li>
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <video loop autoplay muted id="bg-video">
            <source src="{% static 'images/Eye2.mp4' %}" type="video/mp4" />
        </video>

        <div class="video-overlay header-text">
            <div class="caption">
                <h2>Unleash the Power of
                    <em>Vision</em></h2>
                <div class="main-button scroll-to-section">
                    <a href="#features">Try Smart Eye Now!</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** Features Item Start ***** -->
    <section class="section" id="features">
        <h1 class="cam-view">Camera View</h1>
        <div class="items-container">
            <h2 style="font-size: xx-large;font-weight: 700;">Detected Items</h2>
            <div class="item">
                <span class="item-name">Cup:</span>
                <span class="item-count" id="countCup">0</span>
            </div>
            <div class="item">
                <span class="item-name">Female:</span>
                <span class="item-count" id="countFemale">0</span>
            </div>
            <div class="item">
                <span class="item-name">Male:</span>
                <span class="item-count" id="countMale">0</span>
            </div>
            <div class="item">
                <span class="item-name">Phone:</span>
                <span class="item-count" id="countPhone">0</span>
            </div>
            <div class="item">
                <span class="item-name">Glasses:</span>
                <span class="item-count" id="countGlasses">0</span>
            </div>
            <div class="item">
                <span class="item-name">Headphone:</span>
                <span class="item-count" id="countHeadphone">0</span>
            </div>
            <div class="item">
                <span class="item-name">Keyboard:</span>
                <span class="item-count" id="countKeyboard">0</span>
            </div>
            <div class="item">
                <span class="item-name">Laptop:</span>
                <span class="item-count" id="countLaptop">0</span>
            </div>
            <div class="item">
                <span class="item-name">Pen:</span>
                <span class="item-count" id="countPen">0</span>
            </div>
            <div class="item">
                <span class="item-name">Shoe:</span>
                <span class="item-count" id="countShoe">0</span>
            </div>
        </div>
        <div id="frameDiv">
            <div class="frame-title">Click To Start!</div>
            <img id="frame" src="{% url 'video_feed' 0 %}" alt="">
        </div>
        <div class="start-stopBtns">
            <button id="stop" class="overflow-hidden relative w-32 p-2 h-12 bg-black text-white border-none rounded-md text-xl font-bold cursor-pointer relative z-10 group">
              <span class="absolute w-36 h-32 -top-8 -left-2 bg-red-200 rotate-12 transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-500 duration-1000 origin-right">
              </span>
              <span class="absolute w-36 h-32 -top-8 -left-2 bg-red-400 rotate-12 transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-700 duration-700 origin-right">
              </span>
              <span class="absolute w-36 h-32 -top-8 -left-2 bg-red-600 rotate-12 transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-1000 duration-500 origin-right">
              </span>
              <span class="group-hover:opacity-100 group-hover:duration-1000 duration-100 absolute top-2.5 left-6 z-10">
              Stop
              </span>
            </button>
            <button id="start" class="overflow-hidden relative w-32 p-2 h-12 bg-black text-white border-none rounded-md text-xl font-bold cursor-pointer relative z-10 group">
              <span class="absolute w-36 h-32 -top-8 -left-2 bg-blue-200 rounded-full transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-500 duration-1000 origin-bottom">
              </span>
              <span class="absolute w-36 h-32 -top-8 -left-2 bg-blue-400 rounded-full transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-700 duration-700 origin-bottom">
              </span>
              <span class="absolute w-36 h-32 -top-8 -left-2 bg-blue-600 rounded-full transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-1000 duration-500 origin-bottom">
              </span>
              <span class="group-hover:opacity-100 group-hover:duration-1000 duration-100 absolute top-2.5 left-6 z-10">
              Start
              </span>
            </button>
        </div>

    </section>
    <!-- ***** Features Item End ***** -->

    <!-- ***** Our Classes Start ***** -->
    <section class="section-1" id="our-classes">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>Our <em>Model</em></h2>
                        <h2>YOLO V8</h2>
                        <img src="{% static 'images/line-dec.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Our Classes End ***** -->
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; 2020 Training Studio
                    
                    - Designed by <a rel="nofollow" href="https://templatemo.com" class="tm-text-link" target="_parent">TemplateMo</a><br>

                Distributed by <a rel="nofollow" href="https://themewagon.com" class="tm-text-link" target="_blank">ThemeWagon</a>
                
                </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- ****** Footer End ****** -->
    <!-- jQuery -->
    <script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/imgfix.min.js' %}"></script>
    <script src="{% static 'js/mixitup.js' %}"></script>
    <script src="{% static 'js/accordions.js' %}"></script>
    
    <!-- Global Init -->
    <script src="{% static 'js/custom.js' %}">
        document.addEventListener('DOMContentLoaded', function() {
        var vid = document.getElementById('backgroundVideo');
        vid.playbackRate = 0.5;  // Adjust playback rate here, 0.5 is half speed
    });
    </script>

    <script>
        const stop = document.getElementById('stop'),
              start = document.getElementById('start'), frame = document.getElementById('frame'),
              cup = document.getElementById('countCup'), female = document.getElementById('countFemale'),
              male = document.getElementById('countMale'), phone = document.getElementById('countPhone'),
              glasses = document.getElementById('countGlasses'), headphone = document.getElementById('countHeadphone'),
              keyboard = document.getElementById('countKeyboard'), laptop = document.getElementById('countLaptop'),
              pen = document.getElementById('countPen'), shoe = document.getElementById('countShoe');

        var flag = 0, refreshCam = null;
        $("#stop").css("background-color", "gray");
        $("#start").removeAttr('disabled');
        $("#stop").attr('disabled', 'true');
        $(".bg-red-200, .bg-red-400, .bg-red-600").each(function() {
            $(this).css('opacity', '0');
        });
        stop.addEventListener('click', () => {
            $("#start").css("background-color", "");
            $(".bg-blue-200, .bg-blue-400, .bg-blue-600").each(function() {
                $(this).css('opacity', '1');
            });
            $("#stop").css("background-color", "gray");
            $(".bg-red-200, .bg-red-400, .bg-red-600").each(function() {
                $(this).css('opacity', '0');
            });
            $("#start").removeAttr('disabled');
            $("#stop").attr('disabled', 'true');
            $("#frame").css('opacity', '0');
            $("#frameDiv").empty();
            fetch("{% url 'video_feed' 0 %}")
            $("#frameDiv").html("<div class='frame-title'>Click To Start!</div>" +
                "<img id='frame' src='{% url 'video_feed' 0 %}' alt=''>");
            clearInterval(refreshCam);
        });
        start.addEventListener('click', () => {
            $("#start").css("background-color", "gray");
            $(".bg-blue-200, .bg-blue-400, .bg-blue-600").each(function() {
                $(this).css('opacity', '0');
            });
            $("#start").attr('disabled', 'true');
            $("#stop").removeAttr('disabled');
            $("#stop").css("background-color", "");
            $(".bg-red-200, .bg-red-400, .bg-red-600").each(function() {
                $(this).css('opacity', '1');
            });
            if (flag === 0){
                $("#frame").attr('src', "{% url 'video_feed' 1 %}");
                flag++;
            }
            $("#frameDiv").empty();
            fetch("{% url 'video_feed' 1 %}")
            $("#frameDiv").html("<div class='frame-title'>Click To Start!</div>" +
                "<img id='frame' src='{% url 'video_feed' 1 %}' alt=''>");
            $("#frame").css('opacity', '1');
            setTimeout(()=>{
                refreshCam = setInterval(() => {
                    fetch('{% url 'fetchClasses' %}')
                    .then(response => response.json())
                    .then(data => {
                        cup.innerHTML = data.Cup; female.innerHTML = data.Female; male.innerHTML = data.Male;
                        phone.innerHTML = data.Phone; glasses.innerHTML = data.Glasses;
                        headphone.innerHTML = data.Headphone; keyboard.innerHTML = data.Keyboard;
                        laptop.innerHTML = data.Laptop; pen.innerHTML = data.Pen; shoe.innerHTML = data.Shoe;
                    });
                }, 10);
            }, 1500)
        });
    </script>

  </body>
</html>